.heading {
  width: 50%;
  margin-top: 8rem;
  margin-bottom: 8rem;
  color: var(--black2);
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 3rem;
}

.icon {
  color: var(--gray);
}

@media screen and (max-width: 968px) {
  .heading {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .heading {
    width: 90%;
  }
}

@media screen and (max-width: 568px) {
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    flex-wrap: wrap;
  }

  .heading {
    width: 100%;
  }
}
