.container {
  background-color: var(--black);
  padding: 10rem 0rem;
}

.content {
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-gap: 5rem;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 3rem;
  width: 100%;
}

.heading {
  color: var(--white);
  text-align: right;
}

.title {
  color: var(--black);
  font-family: var(--tuskerGrotesk);
  text-transform: uppercase;
  font-size: 3rem;
}

.icon,
.desc {
  color: var(--black);
}

.copy {
  line-height: 150%;
  font-weight: 700;
  color: var(--white);
  text-align: right;
}

.right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.card {
  background-color: var(--purple2);
  border-radius: 20px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.title {
  font-size: 2rem;
  text-align: center;
}

.desc {
  text-align: center;
  font-size: 1.4rem;
  font-family: var(--raleway);
}

.btnContainerii {
  display: none;
}

@media screen and (max-width: 1168px) {
  .right {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 968px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .left {
    order: -1;
  }

  .heading,
  .copy {
    text-align: center;
    width: 100%;
  }

  .btnContainer {
    display: none;
  }

  .btnContainerii {
    display: block;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .right {
    grid-template-columns: repeat(1, 1fr);
  }
}
