.container {
  background-color: var(--purple);
}

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 3rem;
}

.left,
.right {
  flex: 1;
  width: 100%;
}

.heading {
  color: var(--white);
  width: 90%;
}

.copy {
  width: 80%;
  color: var(--white);
  font-size: 1.8rem;
  margin-top: 3rem;
  font-weight: 500;
  line-height: 1.8em;
}

.btnContainer {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.imgContainer {
  position: relative;
  height: 450px;
  width: 100%;
  z-index: 1;
}

.imgContainer::after {
  position: absolute;
  content: "";
  top: 10px;
  left: 10px;
  background-color: var(--white);
  width: 100%;
  height: 100%;
  border-radius: 20px;
  z-index: -1;
}

.img {
  object-fit: cover;
  border: 2px solid var(--white);
  border-radius: 20px;
}

@media screen and (max-width: 1100px) {
  .copy {
    width: 100%;
  }
}

@media screen and (max-width: 1068px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .heading,
  .copy {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .btnContainer {
    justify-content: center;
    margin-bottom: 3rem;
  }

  .imgContainer {
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .imgContainer {
    height: 375px;
  }

  .heading {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .heading,
  .copy {
    text-align: left;
  }

  .btnContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5rem;
  }
}
