.heading {
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--green2);
  margin-bottom: 2rem;
}

.dataTable {
  margin-top: 5rem;
  border: 2px solid var(--green2);
  border-radius: 20px;
  padding: 3rem;
  width: 100%;
  overflow: scroll;
}

.dataTable table {
  width: 100%;
}

.dataTable label {
  font-weight: 500;
  text-transform: capitalize;
}

.dataTable select {
  padding: 0.3rem;
}

.dataTable input {
  border-radius: 5px;
  padding-left: 5px;
  padding: 0.5rem;
  border: 2px solid var(--purple);
  margin-bottom: 3rem;
}

.theadContainer {
  background-color: var(--green2);
  padding: 1rem;
  width: 100%;
  display: block;
  padding: 2rem;
  cursor: pointer;
  /* margin-top: 3rem; */
  white-space: nowrap;
}

.dataTable td {
  padding: 1rem;
  border: 1px solid var(--green2);
}

.actions {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.dataTable div ul {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  list-style: none;
  font-weight: 700;
  display: none;
}

.dataTable div li {
  cursor: pointer;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
}

.modalHeading {
  margin-bottom: 1rem;
  color: red;
  font-size: 2rem;
  text-transform: none;
}

.modalText {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 3rem;
}

@media screen and (max-width: 568px) {
  .btnContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    width: 100%;
    margin-top: 1rem;
  }
}
