.heading {
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--green2);
  margin-bottom: 2rem;
}

.copy {
  margin: 3rem 0rem;
  width: 60%;
}

.box {
  width: 100%;
}

.headingContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--green2);
  padding: 1rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.headingContainer div {
  text-align: center;
  width: 100%;
}

.tableContainer,
.productTableContainer,
.categoryTableContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}

.productTableContainer {
  grid-template-columns: repeat(4, 1fr);
}

.categoryTableContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.tableContainer p,
.productTableContainer p,
.categoryTableContainer p {
  border: 1px solid var(--green2);
  padding: 1rem;
}

.products {
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions {
  border: 1px solid var(--green2);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.trash {
  border: 2px solid red;
  width: 38px;
  height: 38px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s all ease-in;
}

.trash:hover {
  background-color: red;
}

.trash:hover .icon {
  color: var(--white);
}

.icon {
  color: red;
  transition: 0.2s all ease-in;
}

@media screen and (max-width: 568px) {
  .btnContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    width: 100%;
    margin-top: 1rem;
  }
}
