.container {
  padding-top: 5rem;
}

.content {
  padding-top: 5rem;
}

.heading,
.copy {
  margin-bottom: 1rem;
  text-align: left;
  /* color: var(--tan); */
  width: 60%;
  margin-bottom: 5rem;
}

.copy {
  font-weight: 700;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  /* margin-bottom: 5rem; */
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;
  /* margin-top: 8rem; */
  /* border: 1px solid var(--purple); */
  /* padding: 5rem; */
  /* padding-bottom: 15rem; */
  border-radius: 20px;
}

.cardContainer1 {
  display: grid;
  grid-auto-flow: column;
  animation: moveReverse 20s linear infinite;
  width: 100%;
  grid-gap: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.cardContainer1:hover {
  animation-play-state: paused;
}

.card {
  padding: 2rem;
  background-color: var(--purple2);
  border-radius: 20px;
  width: 465px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review {
  font-weight: 600;
  color: var(--green);
}

.personBox {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 2rem;
}

.personImage {
  border: 1px solid var(--purple);
  color: var(--purple);
  border-radius: 50%;
  padding: 0.3rem;
}

.reviewer {
  color: var(--green);
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.company {
  color: var(--green);
  display: block;
  font-weight: 400;
  opacity: 0.7;
}

@media screen and (max-width: 968px) {
  .copy {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .cardContainer1,
  .cardContainer2 {
    grid-gap: 2rem;
  }

  .cardContainer1 {
    margin-bottom: 2rem;
  }

  .container {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .bottom {
    padding: 3rem;
  }

  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes moveReverse {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
