.heading {
  font-size: 3rem;
  color: var(--purple);
  text-decoration: underline;
}

.dataTable {
  margin-top: 5rem;
  border: 2px solid var(--purple2);
  border-radius: 20px;
  padding: 3rem;
  width: 100%;
  overflow: scroll;
}

.dataTable table {
  width: 100%;
}

.dataTable label {
  font-weight: 500;
  text-transform: capitalize;
}

.dataTable select {
  padding: 0.3rem;
}

.dataTable input {
  border-radius: 5px;
  padding-left: 5px;
  padding: 0.5rem;
  border: 2px solid var(--purple);
  margin-bottom: 3rem;
}

.theadContainer {
  background-color: var(--purple2);
  padding: 1rem;
  width: 100%;
  display: block;
  padding: 2rem;
  cursor: pointer;
  white-space: nowrap;
}

.dataTable td {
  padding: 1rem;
  border: 1px solid var(--purple2);
}

.actions {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.dataTable div ul {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  list-style: none;
  font-weight: 700;
  display: none;
}

.dataTable div li {
  cursor: pointer;
}

.btnContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  width: 100%;
  margin-top: 1rem;
}

.trash {
  cursor: pointer;
}

@media screen and (max-width: 568px) {
  .btnContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
