.container {
  margin-bottom: 10rem;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.box {
  background-color: var(--purple2);
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
}

@media screen and (max-width: 968px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }
}
