.top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.topLeft,
.topRight {
  flex: 1;
  width: 100%;
}

.featuresBox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 5rem;
}

.feature {
  background-color: var(--purple2);
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--purple);
  padding: 1.5rem 2rem;
  border-radius: 8px;
}

.price {
  background: rgb(161, 155, 246);
  background: -moz-linear-gradient(
    180deg,
    rgba(161, 155, 246, 1) 0%,
    rgba(112, 101, 240, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(161, 155, 246, 1) 0%,
    rgba(112, 101, 240, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(161, 155, 246, 1) 0%,
    rgba(112, 101, 240, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a19bf6",endColorstr="#7065f0",GradientType=1);
  width: fit-content;
  padding: 2rem;
  color: var(--white);
  border-radius: 8px;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-left: auto;
}

.perNight {
  color: var(--white);
  font-size: 1.6rem;
}

.imgGrid {
  height: 500px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.imgContainer,
.imgContainer2,
.imgContainer3 {
  position: relative;
  width: 100%;
  height: 100%;
}

.gridRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.imgContainer2 {
  height: 50%;
}

.imgContainer3 {
  height: 50%;
}

.propDetails {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 5rem;
  margin-top: 5rem;
}

.left {
  width: 100%;
  flex: 2;
}

.right {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.copy {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.8em;
  opacity: 0.7;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 5rem;
}

.imgContainer4 {
  position: relative;
  width: 100%;
  height: 280px;
}

.test {
  border-radius: 10px;
  border: 3px solid var(--border);
  margin-bottom: 8rem;
}

.mapBox {
  border-radius: 20px;
}

.blogSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.map {
  border: 2px solid var(--purple2);
  border-radius: 20px;
}

@media screen and (max-width: 968px) {
  .top {
    flex-direction: column;
    gap: 3rem;
  }

  .featuresBox {
    margin-top: 3rem;
  }

  .price {
    margin-left: 0rem;
  }

  .propDetails {
    flex-direction: column;
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .imgGrid,
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .blogSection {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .imgGrid,
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 20rem;
  }

  .imgContainer,
  .imgContainer2,
  .imgContainer3 {
    height: 200px;
  }
}

@media screen and (max-width: 668px) {
  .blogSection {
    grid-template-columns: repeat(1, 1fr);
  }
}
